<ion-header>
  <ion-navbar>
    <ion-title>Galeria de recuerdos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <div *ngFor="let remember of remembers;let index=index">
      <ion-item (click)="sendMemory(remember,index)">
        <ion-avatar item-start>
          <img [src]="'data:image/jpeg;base64,'+remember.img" alt="remember">
        </ion-avatar>
        <h2>{{remember.name}}</h2>
        <h3>Latitud: {{remember.latitude}}</h3>
        <h3>Longitud: {{remember.longitude}}</h3>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col col-4 text-center>
      <ion-icon name="person" color="primary" style="font-size: xx-large" *ngIf="!user.picture.data"></ion-icon>
      <img [src]="user.picture.data.url" alt="facebook image" style="height: 30px;width: 30px;border-radius: 100%" *ngIf="user.picture.data">
    </ion-col>
    <ion-col col-4 text-center (click)="addMemory()">
      <ion-icon name="camera" color="primary" style="font-size: xx-large"></ion-icon>
    </ion-col>
    <ion-col col-4 text-center (click)="logout()">
      <ion-icon name="exit" color="primary" style="font-size: xx-large"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>
